p{
    position: absolute;
    bottom: 500px;
    right: 200px;
    width: 500px;
    font-size: large;
    font-family: Macondo;
    opacity: 0.8;

}

#two p {
position: absolute;
    bottom: 550px;
    right: 120px;
    width: 300px;
    font-size: large;
    font-family: Macondo;
    opacity: 0.8;
}
#three p {
position: absolute;
    bottom: 30px;
    right: 80px;
    width: 300px;
    font-size: large;
    font-family: Macondo;
    opacity: 0.8;
}
#four p {
position: absolute;
    bottom: 50px;
    right: 90px;
    width: 300px;
    font-size: large;
    font-family: Macondo;
    opacity: 0.8;
}
#five p {
position: absolute;
    bottom:30px;
    right: 250px;
    width: 220px;
    font-size: large;
    color:rgb(16, 13, 107);
    text-decoration: bold;
    font-family: Macondo;
   
}
